<h2 mat-dialog-title>Create new task</h2>
<div class="mat-typography">


  <form [formGroup]="taskForm" (ngSubmit)="save()">

    <div class="details">
  <mat-form-field class="title">
    <mat-label>Title</mat-label>
    <input required matInput placeholder="Ex. Do exercise"   formControlName ="name"
           class="is-invalid" [ngClass]="{'is-invalid': taskForm.get('name').errors}">
    <mat-error *ngIf="taskForm.get('name').hasError('required')"> Name is required.</mat-error>
    <mat-error *ngIf="taskForm.get('name').hasError('maxlength')"> Name cannot be more than 20 characters!</mat-error>
  </mat-form-field>

  <br>
  <mat-form-field class="description-text">
    <mat-label>Description</mat-label>
    <textarea matInput  placeholder="Add a short description here..." formControlName ="description"
              class=" description-text is-invalid" [ngClass]="{'is-invalid': taskForm.get('description').errors
    && taskForm.get('description').touched }">
    </textarea>
  </mat-form-field>
  <br>
  <mat-form-field class="dates" >
    <mat-label>Start Date</mat-label>
    <input required matInput [matDatepicker]="picker"  formControlName ="startDate" class="is-invalid" [ngClass]="{'is-invalid': taskForm.get('startDate').errors
    && taskForm.get('startDate').touched }">
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker>
    </mat-datepicker>
    <mat-error *ngIf="taskForm.get('startDate').hasError('required')"> Start date is required</mat-error>
  </mat-form-field>


  <mat-form-field class="dates" >
    <mat-label>Due date</mat-label>
    <input required matInput [matDatepicker]="picker2"  formControlName ="dueDate"
           class="is-invalid" [ngClass]="{'is-invalid': taskForm.get('dueDate').errors
    && taskForm.get('dueDate').touched }" >
    <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
    <mat-datepicker #picker2></mat-datepicker>
    <mat-error *ngIf="taskForm.get('dueDate').hasError('required')"> Due date is required</mat-error>
  </mat-form-field>
  <br>
  <mat-form-field >
    <mat-label>Tags</mat-label>
    <mat-select  formControlName="tagsIds" multiple >
      <mat-option  (onSelectionChange)="getTagsValues($event)" *ngFor="let tag of tagsList,let tags of selectedTask.tagIds"
                   [value]="tag.id" >
        {{tag.name}}</mat-option>
    </mat-select >
  </mat-form-field>
      <mat-card-footer align="center">
        <button mat-button mat-dialog-close>Cancel</button>
        <button [disabled]="taskForm.invalid" id="btnSubmit" mat-raised-button  mat-dialog-close type="submit" color="blank">Save</button>
      </mat-card-footer>

    </div>
    <div class="subtasks">
      <mat-label class="title-subtask">Subtasks</mat-label>

      <mat-form-field class="subtask">
        <mat-label></mat-label>
        <input (keyup.enter)="addSubtask($event)" matInput #itemTitle  placeholder="Add a sub-task"   formControlName ="subtasks"
               class="is-invalid" [ngClass]="{'is-invalid': taskForm.get('subtasks').errors}">
        <mat-icon matPrefix (click)="addSubtask(itemTitle)"> add</mat-icon>
      </mat-form-field>

      <mat-divider></mat-divider>

      <mat-form-field *ngFor="let subtask of subtasks" class="subtask">
        <mat-label></mat-label>
        <mat-checkbox checked="checked">
          <input matInput value="joo"  formControlName ="subtasks"
                 class="checkbox-input is-invalid">
        </mat-checkbox>

      </mat-form-field>

    </div>

  </form>


</div>


