<h2 mat-dialog-title>Create new task</h2>
<mat-dialog-content class="mat-typography">


  <form [formGroup]="taskForm" (ngSubmit)="save()">

    <mat-form-field class="example-full-width">
      <mat-label>Title</mat-label>
      <input matInput placeholder="Ex. Do exercise" class="form-control"  formControlName ="name"
       class="form-control is-invalid" [ngClass]="{'is-invalid': taskForm.get('name').errors
       && taskForm.get('name').touched }">
    </mat-form-field>
<br>


  <mat-form-field class="example-full-width">
    <mat-label>Description</mat-label>
    <textarea matInput placeholder="" class="form-control"  formControlName ="description"
    class="form-control is-invalid" [ngClass]="{'is-invalid': taskForm.get('description').errors
    && taskForm.get('description').touched }"></textarea>
  </mat-form-field>

<br>
  <mat-form-field class="example-full-width" >
    <mat-label>Start Day</mat-label>
    <input matInput [matDatepicker]="picker" class="form-control"  formControlName ="startDate" class="form-control is-invalid" [ngClass]="{'is-invalid': taskForm.get('startDate').errors
    && taskForm.get('startDate').touched }">
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker>


    </mat-datepicker>
  </mat-form-field>


  <mat-form-field class="example-full-width" >
    <mat-label>Finish Day</mat-label>
    <input matInput [matDatepicker]="picker2" class="form-control"  formControlName ="dueDate"
    class="form-control is-invalid" [ngClass]="{'is-invalid': taskForm.get('dueDate').errors
    && taskForm.get('dueDate').touched }">
    <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
    <mat-datepicker #picker2></mat-datepicker>
  </mat-form-field>
<br>
<!--
  <strong>{{taskForm.value.Title}} </strong>
<br>
<strong>{{taskForm.value.Description}} </strong>
<br>
<strong>{{taskForm.value.StartDay}} </strong>
<br>
<strong>{{taskForm.value.FinishDay}} </strong>
<button id="btnSubmit" mat-raised-button type="submit" color="primary">Submit</button>


</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Cancel</button>
  <button mat-button [mat-dialog-close]="true"   [ngClass]="{'login-btn':  taskForm.valid, 'login-btn-disabled': taskForm.invalid}"
  [disabled]="taskForm.invalid" >Save </button>
</mat-dialog-actions>-->

<button mat-button mat-dialog-close>Cancel</button>
<button id="btnSubmit" mat-raised-button type="submit" color="blank">Save</button>
  </form>


</mat-dialog-content>


