.mat-drawer-container{
  padding-top: 30%;

  height: 100%;
}
.mat-drawer{
  padding-top: 25%;
  background-color: #20304A;
}
.mat-icon{
  color: #d5dae2;
  background-color: transparent;
}
.mat-icon:hover{
  color: #d5dae2;
}
.mat-icon-button{
  background-color: transparent;
  border-color: transparent;
}

.mat-icon-button:active:after {
  border-color: green;
}

.mat-list-item:hover{
  background-color: #22364A;
}

@media (min-width: 400px) {
  .mat-drawer{
    padding-top: 20%;
  }
}

@media (min-width: 750px) {
  .mat-drawer{
    padding-top: 10%;
  }
}
