<router-outlet></router-outlet>
  <mat-drawer #drawer mode="side" disableClose="true" opened="true" class="position-fixed">
    <mat-list-item>
      <img mat-card-image routerLink="/account/home" src="assets/img/logoTrans1.png" >
    </mat-list-item>

    <mat-nav-list>

      <mat-list-item (click)="isExpanded = !isExpanded">
        <mat-icon mat-list-icon aria-label="Menu">menu</mat-icon>
      </mat-list-item>

      <mat-list-item routerLink= '/account/home/tags'>
        <mat-icon mat-list-icon>labels</mat-icon>
        <h4 mat-line *ngIf="isExpanded">Tags</h4>
      </mat-list-item>
      <mat-list-item routerLink= '/account/home/recycle'>
        <mat-icon mat-list-icon>delete_outline</mat-icon>
        <h4 mat-line *ngIf="isExpanded">Recycle bin</h4>
      </mat-list-item>
      <mat-list-item routerLink="/account/home/configuration">
        <mat-icon mat-list-icon>settings</mat-icon>
        <h4 mat-line *ngIf="isExpanded">Settings</h4>
      </mat-list-item>
      <mat-list-item (click)="logout()">
        <mat-icon mat-list-icon>exit_to_app</mat-icon>
        <h4 mat-line *ngIf="isExpanded">Log out</h4>
      </mat-list-item>
    </mat-nav-list>
  </mat-drawer>
