.mat-drawer-container{
  padding-top: 0%;

  height: 100%;
}
.mat-card-image{

  width: 50px;
  margin-left: 10%;
  margin-bottom: 50px;

}
.mat-sidenav {
  width: 230px;
}

.mat-line{
  color: #d5dae2;
}

.mat-drawer{
  margin-top: 0px;
  height: 100%;
  background-color: #20304A;
}
.mat-icon{
  color: #d5dae2;
  background-color: transparent;
}
.mat-icon:hover{
  color: #d5dae2;
}
.mat-icon-button{
  background-color: transparent;
  border-color: transparent;
}


.mat-list-item:hover{
  background-color: #22364A;
}

@media (min-width: 400px) {
  .mat-drawer{
    padding-top: 30px;
  }
}

@media (min-width: 750px) {
  .mat-drawer{
    padding-top: 30px;
  }
}
