<!DOCTYPE html>
<html lang="en">
<body>
<main class="d-flex align-items-center min-vh-100 py-3 py-md-0">
  <div class="container">
    <div class="card login-card">
      <div class="row no-gutters">
        <div class="col-md-5">
          <img src="../../../assets/images/girl.jpg" alt="login" class="login-card-img">
        </div>
        <div class="col-md-7">
          <div class="card-body">
            <p class="login-card-description">Sign into your account</p>
            <form #regForm = "ngForm" (ngSubmit)="register(regForm)" action="#!">
              <div class="form-group">
                <label for="fullname" class="sr-only">Fullname</label>
                <input type="text" name="fullname" id="fullname" class="form-control" placeholder="Full name"
                ngModel
                required
                #fullname = "ngModel">

                <div [hidden]="fullname.valid || fullname.pristine"
                     class="alert alert-danger ">
                  Full name is required
                </div>

              </div>

              <div class="form-group">
                <label for="Username" class="sr-only">Username</label>
                <input type="text" name="Username" id="Username" class="form-control" placeholder="Username"
                       ngModel
                       required
                       #Username = "ngModel">

                <div [hidden]="Username.valid || Username.pristine"
                     class="alert alert-danger ">
                   Username is required
                </div>

              </div>

              <div class="form-group">
                <label for="Email" class="sr-only">email</label>
                <input type="email" name="Email" id="Email" class="form-control" placeholder="Email address"
                       ngModel
                       required
                       #Email = "ngModel">

                <div [hidden]="Email.valid || Email.pristine"
                     class="alert alert-danger ">
                  Email address is required
                </div>

              </div>

              <div class="form-group">
                <label for="Password" class="sr-only">password</label>
                <input type="password" name="Password" id="Password" class="form-control" placeholder="Password"
                       ngModel
                       required
                       #Password = "ngModel">

                <div [hidden]="Password.valid || Password.pristine"
                     class="alert alert-danger ">
                  Password is required
                </div>

              </div>

              <div class="form-group">
                <label for="passwordConf" class="sr-only">passwordConf</label>
                <input type="password" name="passwordConf" id="passwordConf" class="form-control" placeholder="Confirm password"
                       ngModel
                       required
                       #passwordConf = "ngModel">

                <div [hidden]="passwordConf.valid || passwordConf.pristine"
                     class="alert alert-danger ">
                  Password confirmation is required
                </div>
                <div [hidden]="passwordConf.value == Password.value"
                     class="alert alert-danger ">
                  Password confirmation should be equal to password
                </div>
              </div>

              <input type="submit" [ngClass]="{'login-btn':  regForm.valid, 'login-btn-disabled': regForm.invalid}"
                     [disabled]="regForm.invalid && passwordConf.value == Password.value" name="signup" id="signup"
                     class="btn btn-block login-btn-disabled mb-4"
                     value="Sign up">

            </form>

            <p class="login-card-footer-text">Already have an account? <a class="text-reset" href="account">Log in here</a></p>
            <nav class="login-card-footer-nav">
              <a href="#!">Terms of use.   </a>
              <a href="#!">Privacy policy</a>
            </nav>

          </div>
        </div>
      </div>
    </div>
  </div>
</main>
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
</body>
</html>
