.mat-card{
  margin-top: 20px;
  margin-bottom: 5px;
  margin-left: 120px;
  width: 70%;
}
.mat-card-tag{
  margin-top: 20px;
  margin-bottom: 5px;
  margin-left: 100px;
  width: 85%;
  height: 60px;
}

.mat-drawer-container{
  margin-top: 250px;
  width: 100%;
  min-height: 700px;
}
.drawer-tags{
  margin-top: 10px;
  width: 100%;
  min-height: 100%;
}
.mat-selection-list{
  margin-left: 20px;
}
.filter-button{
  margin-left: 90%;
}
.mat-menu{
  margin-left: 90%;

}
.plus-button{
  font-size: 20px;
  height: 30px;
  width: 30px;
  margin-top: 70px;
  margin-left: 120px;
  background-color: #0E2A47;
}
.plus-button-tags{
  font-size: 20px;
  height: 30px;
  width: 30px;
  margin-top: 70px;
  margin-left: 90%;
  background-color: #0E2A47;

}

/* --- ICONS --- */
.plus-icon{
  margin-top: -10px;

}
.delete-icon{
  position: absolute;
  left: 89%;
  bottom: 10px;
}

/* --- TITLES --- */
.tags-title{
  margin-top: 30px;
  margin-left: 110px;
}



@media (max-width: 700px) {
  .mat-card{
    width: 70%;
  }

}

@media (min-width: 700px) {
  .mat-card{
    width: 80%;
  }

}

@media (min-width: 900px) {
  .mat-card{
    width: 85%;
  }

}

