.mat-card{
  margin-top: 20px;
  margin-bottom: 5px;
  margin-left: 120px;
  width: 70%;
  height: auto;
}
.custom-dialog-container .mat-dialog-container {
  overflow-y: hidden;
}

.span{
  margin-top: -80px;
}
.mat-group{
  margin-left: 100px;
}
.mat-card-tag{
  margin-top: 20px;
  margin-bottom: 5px;
  margin-left: 100px;
  width: 85%;
  height: 60px;
}
.mat-list-item{
  margin-top: 5px;
  margin-bottom: 20px;
}
.mat-drawer-container{
  margin-top: 20px;
  width: 100%;
  min-height: 700px;
}
.drawer-tags{
  margin-top: 10px;
  width: 100%;
  min-height: 100%;
}
.mat-selection-list{
  margin-left: 20px;
}
.filter-button{
  margin-left: 90%;
}
.mat-menu{
  margin-left: 90%;

}

/* TAGS */
.tags-mat-chip-list{
  position: absolute;
  top: 45px;
  left: 40px;
}
.date-label{
  font-size: 10px;
  position: absolute;
  top: 28px;
  left: 40px;
  color: rgba(128,128,128, 0.8);
}


.state-tag{
  color: rgba(128,128,128, 1);
  background-color: rgba(128,128,128, 0.1);
  font-size: 10px;
  width: auto;
  min-height: 1px;
  border-radius: 1px;
  left: 8px;
  bottom: 5px;
}
.state-tag-finished{
  background-color: aliceblue;
  color: #42A948
}

.tags-mat-chip{
  margin-top: -10px;
  font-size: 10px;
  width: auto;
  min-height: 2px;
}



/* --- ICONS --- */
.plus-icon{
  margin-top: -10px;

}
.delete-icon{
  position: absolute;
  left: 89%;
  bottom: 10px;
}
.plus-button{
  font-size: 20px;
  height: 30px;
  width: 30px;
  margin-top: 70px;
  margin-left: 120px;
  background-color: #0E2A47;
}
.plus-button-tags{
  font-size: 20px;
  height: 30px;
  width: 30px;
  margin-top: 70px;
  margin-left: 90%;
  background-color: #0E2A47;

}

.delete-task-icon{
  color: #0E2A47;
  position: absolute;
  left: 89%;
  bottom: -10px;
}
.more-icon{
  color: #666A6E;
  position: absolute;
  left: 89%;
  bottom: 15px;
}

/* --- TITLES --- */
.tags-title{
  margin-top: 30px;
  margin-left: 110px;
}


.h4{
  margin-top: 30px;
  margin-left: 110px;

}

@media (max-width: 700px) {
  .mat-card{
    width: 70%;
  }

}

@media (min-width: 700px) {
  .mat-card{
    width: 80%;
  }

}

@media (min-width: 900px) {
  .mat-card{
    width: 85%;
  }

}

