

<button mat-mini-fab class="plus-button no-focus" matTooltip="New task"
(click)="openNewTask()">
  <mat-icon [inline]="true" class="plus-icon">
    add
  </mat-icon>
</button>

<router-outlet></router-outlet>
<mat-drawer-container>
  <button mat-icon-button class="filter-button no-focus" [matMenuTriggerFor]= "menu"
  matTooltip="Filter" matTooltipPosition="above">
    <mat-icon>filter_alt</mat-icon>
  </button>
  <mat-menu #menu="matMenu" class="no-focus">
    <button mat-menu-item class="no-focus">Tag</button>
    <button mat-menu-item class="no-focus">Date</button>
    <button mat-menu-item class="no-focus">State</button>
  </mat-menu>



  <mat-list>
    <mat-card *ngFor="let task of tasksList">
      <mat-list-item >
        <mat-checkbox color="warn">
          {{task.name}}
        </mat-checkbox>
        <button (click)="recycleTask(task.id)" mat-icon-button class="delete-task-icon no-focus" matTooltip="Delete task" matTooltipPosition="below">
          <mat-icon>delete</mat-icon></button>

        <button mat-icon-button class="more-icon no-focus" [matMenuTriggerFor]="options">
          <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #options="matMenu" class="no-focus">
          <button mat-menu-item class="no-focus">Edit task</button>
          <button mat-menu-item class="no-focus"  (click)="beginTask()"  >Start timer</button>
        </mat-menu>

      </mat-list-item>
    </mat-card>
  </mat-list>
</mat-drawer-container>




