<h3 class="tags-title">TAGS</h3>
<button mat-mini-fab class="plus-button-tags no-focus" matTooltip="New tag" (click)="openNewTag()">
  <mat-icon [inline]="true" class="plus-icon">
    add
  </mat-icon>
</button>

  <mat-drawer-container class="drawer-tags">
  <mat-selection-list class="no-focus" [multiple]="false" >
    <mat-list-item  class="mat-card mat-card-tag" *ngFor="let tag of tagsList">
          {{tag.name}}
        <button  mat-icon-button class="delete-icon no-focus" matTooltip="Delete tag" matTooltipPosition="above"
                (click)="deleteTag(tag.id)">
          <mat-icon>delete_forever</mat-icon>
        </button>
    </mat-list-item>
  </mat-selection-list>
</mat-drawer-container>
<router-outlet></router-outlet>


