
<meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>


<!-- The sidebar -->

<div class="sidebar">

    <a href="#">
   <span class="glyphicon glyphicon-tags " style = color:white>
  </span>
</a>

  <a href="recycle-bin">
    <span class="glyphicon glyphicon-trash" style = color:white></span>
  </a>
  <a href="">
    <span class="glyphicon glyphicon-pencil" style = color:white></span>
  </a>

  <a (click)="logout()" routerLink="/account">
   <span class="glyphicon glyphicon-log-out " style = color:white>
  </span>
  </a>



</div>

<!-- Page content -->
<div class="content">

<!--<p style="font-size: 20px;" top= "30px">Task</p>
<a href="">
  <span id = "01" class="glyphicon glyphicon-plus" style = color:#20304A></span>
</a>

-->
<a class = "button js-scroll-trigger" routerlink = "task"><span>NewTask </span></a>
<!--<button class="button"><span>New Task </span></button>-->

</div>


