<button  mat-icon-button (click)="close()" class="close-btn no-focus" color="primary" id="close-btn">
  <mat-icon>close</mat-icon>
</button>
<div  id="pomodoro-app">
  <div id="container">
    <div id="timer">
      <div id="time">
        <span id="minutes">25</span>
        <span id="colon">:</span>
        <span id="seconds">00</span>
      </div>
      <div id="filler"></div>
    </div>

    <div id="buttons">

      <button  mat-stroked-button class="no-focus" color="primary" id="work">Work</button>
      <button  mat-stroked-button class="no-focus" color="primary" id="shortBreak">Short Break</button>
      <button  mat-stroked-button class="no-focus" color="primary" id="longBreak">Long Break</button>
      <button mat-stroked-button class="no-focus" color= "warn" id="stop" (click)="cancelTask()">Cancel</button>


    </div>
  </div>
</div>




